<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Забронировать вручную</h1>
  <div mat-dialog-content fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Имя" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Кол-во персон" formControlName="peopleCount">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Тариф" formControlName="tariff">
          <mat-option *ngFor="let tarif of tariffs" [value]="tarif.name">
            {{tarif.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(value)]="selectedZone" placeholder="Зона" formControlName="zone">
          <mat-option *ngFor="let zone of zones$ | async" [value]="zone.id">
            {{zone.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Номер" formControlName="phoneNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Логин" formControlName="login">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Устройства" formControlName="devices">
          <mat-option *ngFor="let device of devices$ | async" [value]="device">
            {{device.number}} {{deviceType[device.type]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="От" formControlName="timeFrom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="До" formControlName="timeTo">
      </mat-form-field>

    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button type="submit" [mat-dialog-close]="true">Подтвердить</button>
  </div>
</form>
