<!--<div class="grid">-->
<!--  <ng-container *ngFor="let row of generateRange(rows)">-->
<!--    <div class="row">-->
<!--      <div class="cell" *ngFor="let col of generateRange(cols)" [ngSwitch]="row">-->
<!--        <ng-container *ngIf="col < devicesPc.length">-->
<!--          <app-device-icon-->
<!--            *ngSwitchCase="0"-->
<!--            [device]="devicesPc[col]"-->
<!--            (click)="selectDevice(devicesPc[col])"-->
<!--          ></app-device-icon>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="col < devicesPs.length">-->
<!--          <app-device-icon-->
<!--            *ngSwitchCase="1"-->
<!--            [device]="devicesPs[col]"-->
<!--            (click)="selectDevice(devicesPs[col])"-->
<!--          ></app-device-icon>-->
<!--        </ng-container>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
