<div class="grid">
  <ng-container *ngFor="let row of generateRange(rows)">
    <div class="row">
      <div class="cell" *ngFor="let col of generateRange(cols)" [ngSwitch]="row">
        <ng-container *ngIf="canDisplayDevice(row, col, deviceType.PC)">
          <app-device-icon
            [device]="getDevice(row, col, deviceType.PC)"
            (click)="selectDevice(devicesPc[col])"
          ></app-device-icon>
        </ng-container>
        <ng-container *ngIf="canDisplayDevice(row, col, deviceType.PS)">
          <app-device-icon
            [device]="getDevice(row, col, deviceType.PS)"
            (click)="selectDevice(devicesPs[col])"
          ></app-device-icon>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
