.container-cell {
  display: grid;
  padding: 8px 12px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 8px;
}
mat-card-title {
  color: #171717;
  padding: 12px;
  font-weight: 700;
}

mat-card {
  margin-bottom: 8px;
}

.inline-list {
  display: flex;
}

::ng-deep .auto-width-list mat-list-item {
  width: auto;
}

