<h2 mat-dialog-title>Место {{ data.deviceNumber }}</h2>
<mat-dialog-content>
  <mat-card *ngFor="let booking of bookings">
    <mat-card-header>
      <mat-card-title>{{ booking.userName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container-cell">
        <app-cell-card title="Зал" [value]="booking?.zone"></app-cell-card>
        <app-cell-card title="Место" [value]="booking?.device?.number"></app-cell-card>
        <app-cell-card title="Тариф" [value]="booking?.tariff"></app-cell-card>
        <app-cell-card
          title="Время"
          value="{{ booking?.timeFrom | date: 'HH:mm' }} - {{ booking?.timeTo | date: 'HH:mm' }}"
        ></app-cell-card>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="bookings.length === 0">
    <mat-card-content>Нету активных бронировании для этого устройства</mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>
