
<mat-dialog-content>
  <mat-card *ngFor="let booking of bookingNotifications">
    <mat-card-header>
      <mat-card-title>{{booking.userName}}</mat-card-title>
      <mat-card-subtitle>хочет забронировать</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" gutterSize="5px" rowHeight="150px">
        <mat-grid-tile>
          <mat-grid-tile-header>
            Зал
          </mat-grid-tile-header>
          {{booking.zone}}
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>
            Место
          </mat-grid-tile-header>
          {{booking.device.number}}
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>
            Тариф
          </mat-grid-tile-header>
          {{booking.tariff}}
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>
            Время
          </mat-grid-tile-header>
          {{booking.timeFrom.getHours()}}:{{booking.timeFrom.getMinutes()}}-{{booking.timeTo.getHours()}}:{{booking.timeTo.getMinutes()}}
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createBooking(booking)">Принять</button>
      <button mat-raised-button color="warn">Отклонить</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>

