:host {
  display: flex;
  padding-top: 92px;
  flex: 0 1 264px;
  flex-direction: column;
  background: #ffffff;
  border-right: 1px solid #f4f4f4;
}

.active-menu-item {
  border-right: 4px solid #2948E9;
  background: rgba(0, 119, 255, 0.04);
}
