:host {
  display: flex;
  flex: 1 1 264px;
  height: 100%;
  flex-direction: column;
  background: #FFFFFF;
  border-right: 1px solid #F4F4F4;
}


//app-menu-item {
//  border-right: 4px solid #FFFFFF;
//  background: rgba(0, 119, 255, 0.04);
//}
