<app-menu-item
  routerLink="/map-hall"
  routerLinkActive="active-menu-item"
  pathIcon="../../../../assets/icons/desktop-computer.svg"
  nameIcon="desktop_windows"
  text="Карта зала"
>
</app-menu-item>

<app-menu-item
  routerLink="/zones-tariffs"
  routerLinkActive="active-menu-item"
  pathIcon="../../../../assets/icons/coins-alt.svg"
  nameIcon="attach_money"
  text="Зоны и тарифы"
>
</app-menu-item>

<app-menu-item
  routerLink="/history"
  routerLinkActive="active-menu-item"
  pathIcon="../../../../assets/icons/clock.svg"
  nameIcon="timer"
  text="История"
>
</app-menu-item>

<app-menu-item
  routerLink="/users"
  routerLinkActive="active-menu-item"
  pathIcon="../../../../assets/icons/users.svg"
  nameIcon="supervised_user_circle"
  text="Пользователи"
>
</app-menu-item>
