@use '../../styles/media-query' as media;
:host {
  display: flex;
  width: 100%;
}

.buffer {
  width: 100%;
  flex: 0 1 264px;
  min-width: 103px;
  max-width: 264px;
}

.add-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #f4f4f4;
  align-items: center;
}

.example-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

mat-icon {
  cursor: pointer;
  color: #3f51b5;
}

.radius-button {
  border-radius: 100px;
}

@include media.mobile-only {
  .buffer {
    max-width: 103px;
  }

  header {
    padding: 7px 12px;
  }

  .radius-button,
  mdc-button--raised {
    padding: 0 8px;
    font-size: 6px;
    height: 16px;
    width: 63px;
  }

  mat-icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin-left: 4px;
  }

  .profile {
    margin-left: 12px;
  }
}

@include media.tablet-landscape-up {
  header {
    padding: 10px 18px;
  }

  .radius-button,
  mdc-button--raised {
    padding: 0 12px;
    font-size: 10px;
    height: 26px;
    width: 150px;
  }

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }

  .profile {
    margin-left: 18px;
  }
}

@include media.desktop-up {
  header {
    padding: 14px 24px;
  }

  .radius-button,
  mdc-button--raised {
    padding: 0 16px;
    font-size: 14px;
    height: 40px;
    width: 210px;
  }

  mat-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  .profile {
    margin-left: 24px;
  }
}
