<header fxLayoutAlign="space-between center">
  <div>LOGO</div>
  <div class="example-button-row example-button-container">
    <button mat-raised-button color="primary">Primary</button>
    <button mat-icon-button color="primary" (click)="openDialog()">
      <mat-icon matBadge="15" [matBadgeHidden]="hidden" matBadgeColor="warn">home</mat-icon>
    </button>
    <div class="mat-mdc-button-base user">
      <span>Асхат Ниязов</span>
      <span>Администратор</span>
    </div>
  </div>
</header>
